# Data Types and Structures - Problem Set

### Exercise 1: Check Data Types

Write a Python program that prints the data types of the following variables:
```python
a = 42
b = 3.14
c = "Python"
d = [1, 2, 3]
e = (1, 2, 3)
f = {'name': 'John', 'age': 30}
g = {1, 2, 3}
```

In [6]:
l = ()
l = {}
l = dict()
l = []

In [11]:
d = dict()
d['Age'] = 34

In [13]:
l = list()

In [14]:
l

[]

In [15]:
l.append(2)

In [16]:
l

[2]

In [12]:
d

{'Age': 34}

In [1]:
# Your code
a = 42
b = 3.14
c = "Python"
d = [1, 2, 3]
e = (1, 2, 3)
f = {'name': 'John', 'age': 30}
g = {1, 2, 3}

In [4]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [9]:
l = [a,b,c,d,e,f,g]

In [10]:
for letter in l:
    print(type(letter))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

### Exercise 2: List Operations

Create a list with the elements `[10, 20, 30, 40, 50]`. Add `60` to the list, remove `30`, and reverse the list.

In [37]:
# Your code
l = [10, 20, 30, 40 ,50]

In [36]:
l.append(60)
l.remove(30)
l.reverse()

print (l)

[60, 50, 40, 20, 10]

In [38]:
l

[10, 20, 30, 40, 50]

In [19]:
l.extend([60])

In [34]:
l = l[3:]

ValueError: list.remove(x): x not in list

In [30]:
l.append(60)

In [24]:
l

[10, 20, 30, 40, 50, 60]

In [25]:
l.remove(30)

In [31]:
l.pop(2)

30

In [32]:
l

[10, 20, 40, 50, 60]

In [27]:
l.reverse()

In [28]:
l

[60, 50, 40, 20, 10]

### Exercise 3: Tuple Unpacking

Given the following tuple, unpack its elements into separate variables and print them:
```python
my_tuple = (100, 200, 300)
```

In [2]:
# Your code

### Exercise 4: Dictionary Manipulation

Create a dictionary with keys `'name'`, `'age'`, and `'city'`, and values `'Alice'`, `25`, and `'New York'`. Update the age to `26` and add a new key `'profession'` with value `'Engineer'`.

In [3]:
# Your code

### Exercise 5: Set Operations

Create two sets, `set1` with elements `{1, 2, 3, 4}` and `set2` with elements `{3, 4, 5, 6}`. Find the union, intersection, and difference between these sets.

In [4]:
# Your code

### Exercise 6: String Slicing

Given the string `s = "Hello, Python!"`, write code to:
1. Extract the substring `"Python"`.
2. Reverse the entire string.

In [5]:
# Your code

### Exercise 7: Boolean Logic

You are given three numbers, a, b, and c. Write a Python program that returns True if a is the largest number and b is not equal to c. Otherwise, return False.

In [2]:
# Input numbers
a = 10
b = 5
c = 5

# Your code

### Exercise 8: Complex Boolean Logic with Multiple Conditions

Write a Python program that checks the following conditions for three variables x, y, and z:

1.	x is greater than y or y is equal to z.
2.	The sum of x and y is even.
3.	x, y, and z are all positive numbers.

The program should return True only if all three conditions are met.

In [41]:
# Input variables
x = 8
y = 6
z = 6

In [47]:
# Your code
condition_1 = (x > y) or (y == z)
condition_2 = (x+y)%2 != 1
condition_3 = (x>0) and (y>0) and (z>0)

result = condition_1 and condition_2 and condition_3

print (result)

if result == True:
    print ("all conditions are met")
else:
    print ("one of the conditions is not met")

True
all conditions are met

if X % 2 == 1 --> Odd

### Exercise 9: Checking for Keys in a Dictionary

Given the dictionary `person = {'name': 'Bob', 'age': 25}`, check if the key `'age'` exists in the dictionary and print a message.

In [8]:
# Your code

### Exercise 10: Nested Data Structures

Create a dictionary `students` where each key is a student's name and each value is a dictionary containing their `'age'` and a list of their `'grades'`. 

Enter the following data in the dictionary:
- Alice is 24 and has grades 88, 92 and 86
- Bob is 23 and had grades 75, 80, 89

Print Bob’s age and Alice’s grades.

In [9]:
# Your code