# Data Types and Structures - Problem sets - Advanced

### Exercise 1: Flatten a Nested List
Given a nested list:
```python
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
```
Write a Python program to flatten it into a single list: `[1, 2, 3, 4, 5, 6, 7, 8, 9]`.

### Exercise 2: List Comprehension with Conditional Logic
Create a list comprehension that generates a list of even numbers between 1 and 20. If the number is odd, multiply it by 2 before adding it to the list.

### Exercise 3: Dictionary with Multiple Keys
Create a dictionary where each key is a number from 1 to 5, and the value is a list containing the first `n` multiples of that number (where `n` is the key).

For example:
```python
# Output for key 3: [3, 6, 9]
```

### Exercise 4: Merging Two Dictionaries
You are given two dictionaries:
```python
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
```
Merge these dictionaries, but if there is a common key, add the values together.

### Exercise 5: Filter Dictionary by Value
You are given a dictionary:
```python
scores = {'Alice': 85, 'Bob': 70, 'Charlie': 95, 'David': 60}
```
Write a Python program to create a new dictionary with only the entries where the score is greater than or equal to 80.

### Exercise 6: List of Tuples to Dictionary
Convert a list of tuples into a dictionary:
```python
tuples = [('name', 'Alice'), ('age', 25), ('city', 'New York')]
```

### Exercise 7: List Comprehension with Nested Loops
Write a list comprehension to create a list of all possible pairs `(x, y)` where `x` is from `[1, 2, 3]` and `y` is from `[4, 5]`.

### Exercise 8: Sorting a List of Dictionaries
You are given a list of dictionaries:
```python
students = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 23},
    {'name': 'Charlie', 'age': 27}
]
```
Sort the list by the `'age'` key in ascending order.

### Exercise 9: Find Common Elements in Lists
You are given two lists:
```python
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
```
Write a Python program to find the common elements between the two lists without using set operations.

### Exercise 10: Nested Dictionary Lookup
Given the following nested dictionary, write a program to print the `'city'` of the second employee.
```python
employees = {
    'emp1': {'name': 'John', 'age': 28, 'city': 'New York'},
    'emp2': {'name': 'Anna', 'age': 24, 'city': 'London'}
}
```