# Types and Structures

## Overview
In Python, types and structures are fundamental concepts that allow you to store, manipulate, and organize data. 

In this notebook, you'll learn about:
- Basic data types in Python
- Data structures: Lists, Tuples, Sets, and Dictionaries
- How these data types and structures are used in banking and finance

We'll use financial examples to illustrate these concepts.

---

**List of types** 

| Object type | Meaning | Used for |
| --- | --- | --- |
|`int` | integer value | natural numbers |
| `float` | floating-point number | real numbers |
| `bool` | boolean value | true or false |
| `str` | string object | character, word, text |

*use built-in function `type()` to obtain the information*

**List of structures** 

| Object type | Meaning | Used for |
| --- | --- | --- |
| `tuple` | immutable container | fixed set of objects |
| `list` | mutable container | ordered and changing set of objects |
| `dict` | mutable container | key-value store |
| `set` | mutable container | unordered collection of unique objects |


*use built-in function `type()` to obtain the information*

---

## 1. Basic Types

### 1.1 Integers and Floats

Integers are whole numbers, while floats are numbers with a decimal point. These are commonly used for financial calculations.

```python
# Example: Representing account balances
balance = 1000  # Integer
interest_rate = 5.5  # Float

# Calculating interest
interest = balance * interest_rate / 100
print("Interest:", interest)
```

**Ints**

In [ ]:
a = 10
type(a)

Arithmetic operations: `+` `-` `*` `/`

In [ ]:
1 + 4

In [ ]:
a + 1

In [ ]:
type(1+4)

**Floats**

In [ ]:
type (1/4)

In [ ]:
1/4

In [ ]:
type(0.25)

In [ ]:
type (0)

In [ ]:
type (0.0)

### 1.2 Booleans

Booleans represent True or False values. They are useful for making decisions in your code.

In [1]:
# Example: Checking if an account is active
account_active = True
if account_active:
    print("The account is active.")
else:
    print("The account is inactive.")

The account is active.

Conditions: `>` `<` `>=` `<=` `==` `!=`

In [ ]:
4 > 3

In [ ]:
type (4 > 3)

In [ ]:
type (False)

In [ ]:
4 >= 3

In [ ]:
4 < 3

In [ ]:
4 == 3

In [ ]:
4 != 3

Logic operations: `and` `or` `not` `in`

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False and False

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
False or False

In [ ]:
not True

In [ ]:
not False

Combinations

In [ ]:
(4 > 3) and (2 > 3)

In [ ]:
(4==3) or (2 != 3)

In [ ]:
not (4 != 4)

In [ ]:
(not (4 != 4)) and (2 == 3)

**Note:** Major for control condition (`if` `while` `for`) -- see later

In [ ]:
if 4 > 3:
    print ('condition true')
else:
    print ('condition not true')

In [ ]:
i = 0
while i < 4:
    print ('condition true: i = ', i)
    i = i + 1

**Boolean casting**: 0,1 (and all other values)

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
float(True)

In [ ]:
float(False)

In [ ]:
bool(0)

In [ ]:
bool(1)

In [ ]:
bool(0.0)

In [ ]:
bool(1.0)

In [ ]:
bool(10.5)

In [ ]:
bool(-2)

### 1.3 Strings

Strings are used to represent text. In banking, strings might be used to store account holder names, transaction descriptions, etc.

In [3]:
# Example: Representing account holder information
account_holder = "John Doe"
account_number = "1234567890"

print("Account Holder:", account_holder)
print("Account Number:", account_number)

Account Holder: John Doe
Account Number: 1234567890

**Built-in methods**

| Method |
| --- |
| `capitalize()` |
| `count()` |
| `find()` |
| `join()` |
| `replace()` |
| `split()` |
| `upper()` |

In [ ]:
t = 'this is a string object'

In [ ]:
t.capitalize()

In [ ]:
t.split()

In [ ]:
t.find('string')

In [ ]:
t.replace(' ','|')

**Printing** `print()`

In [ ]:
print('Hello World!')

In [ ]:
print (t)

In [ ]:
i = 0
while i < 4:
    print (i)
    i = i + 1

In [ ]:
i = 0
while i < 4:
    print (i, end = '|')
    i = i + 1

**Replacements**

In [ ]:
a = 10
print('this is the value of a:', a)

In [ ]:
tt = 'this is the value of a: ' + str(a)

In [ ]:
print (tt)

---

## Basic structures

### Tuples
Tuples are immutable lists (i.e., cannot be changed after creation). Tuples might be used to store fixed data like the coordinates of a branch location.

In [4]:
# Example: Coordinates of a bank branch
branch_location = (40.7128, -74.0060)  # New York City coordinates
print("Branch Location:", branch_location)

Branch Location: (40.7128, -74.006)

In [3]:
t = (1, 2.5, 'data')
type(t)

tuple

In [4]:
#also works without ()
t = 1, 2.5, 'data'
type(t)

tuple

In [6]:
#indexing
t[2]

'data'

In [7]:
type(t[2])

str

### Lists
Lists are ordered collections of items, which can be of mixed data types. They are often used to store a sequence of transactions or balances.

In [5]:
# Example: List of recent transactions
transactions = [100, -50, 200, -30, 400]
print("Transactions:", transactions)

# Adding a new transaction
transactions.append(-100)
print("Updated Transactions:", transactions)

Transactions: [100, -50, 200, -30, 400]
Updated Transactions: [100, -50, 200, -30, 400, -100]

In [22]:
l = [1, 2.5, 'data']
l[2]

'data'

In [23]:
#casting
l = list(t)
l

[1, 2.5, 'data']

In [24]:
type (l)

list

**Built-in methods**

*contrary to tuples, lists are mutable containers*

| Method |
| --- |
| `l[i] = x` |
| `l[i:j:k] = s` |
| `append()` |
| `count()` |
| `del l[i:j:k]` |
| `index()` |
| `extend()` |
| `insert()` |
| `remove()` |
| `pop()` |
| `revers()` |
| `sort()` |

In [30]:
l.append([4,3])
l

[1, 'insert', 2.5, 1.0, 1.5, 2.0, [4, 3]]

In [26]:
l.extend([1.0, 1.5, 2.0])
l

[1, 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [27]:
l.insert(1,'insert')
l

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [28]:
l.remove('data')
l

[1, 'insert', 2.5, [4, 3], 1.0, 1.5, 2.0]

In [29]:
p = l.pop(3)
print (l, p)

[1, 'insert', 2.5, 1.0, 1.5, 2.0] [4, 3]

In [32]:
#slicing
l[2:5]

[2.5, 1.0, 1.5]

### Dicts
Dictionaries store data as key-value pairs. They are useful for storing information where you need to associate keys (like account numbers) with values (like account balances).

In [6]:
# Example: Dictionary of account balances
account_balances = {
    "1234567890": 1000,
    "0987654321": 2500,
    "1122334455": 750
}
print("Account Balances:", account_balances)

# Accessing a balance by account number
print("Balance of account 1234567890:", account_balances["1234567890"])

Account Balances: {'1234567890': 1000, '0987654321': 2500, '1122334455': 750}
Balance of account 1234567890: 1000

**Keys and values**

In [7]:
d = {
    'Name' : 'Iron Man',
    'Country' : 'USA',
    'Profession' : 'Super Hero',
    'Age' : 36
}

In [8]:
type(d)

dict

In [9]:
print (d['Name'], d['Age'])

Tarik Roukny 36

**Built-in methods**

*contrary to tuples, lists are mutable containers*

| Method |
| --- |
| `d[k]` |
| `d[k] = x` |
| `del d[k]` |
| `clear()` |
| `copy()` |
| `items()` |
| `keys()` |
| `values()` |
| `popitem()` |
| `update()` |

In [56]:
d.keys()

dict_keys(['Name', 'Country', 'Profession', 'Age'])

In [57]:
d.values()

dict_values(['Angela Merkel', 'Germany', 'Chancelor', 64])

In [58]:
d.items()

dict_items([('Name', 'Angela Merkel'), ('Country', 'Germany'), ('Profession', 'Chancelor'), ('Age', 64)])

In [59]:
birthday = True
if birthday:
    d['Age'] += 1
print (d['Age'])

65

In [60]:
for item in d.items():
    print (item)

('Name', 'Angela Merkel')
('Country', 'Germany')
('Profession', 'Chancelor')
('Age', 65)

In [61]:
for value in d.values():
    print (type(value))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

### Sets
Sets are unordered collections of unique items. They can be used to store unique account numbers or customer IDs.

In [63]:
s = set(['u', 'd', 'ud', 'du', 'd', 'du'])
s

{'d', 'du', 'u', 'ud'}

**Set operations**

In [64]:
t = set(['d', 'dd', 'uu', 'u'])

In [65]:
s.union(t)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}

In [66]:
s.intersection(t)

{'d', 'u'}

In [67]:
s.difference(t)

{'du', 'ud'}

In [68]:
t.difference(s)

{'dd', 'uu'}

In [69]:
s.symmetric_difference(t)

{'dd', 'du', 'ud', 'uu'}

---

# Exercises

**Exercise 1: Store and Calculate Interest**

Create variables to store a principal amount (integer), interest rate (float), and time period (integer). Then calculate and print the interest using the formula:

$$
\text{Interest} = \text{Principal} \times \frac{\text{Rate}}{100} \times \text{Time}
$$

In [11]:
# Your code here

**Exercise 2: Create a List of Transactions**

Create a list called transactions that contains at least five different transaction amounts (both positive and negative). Then, print the total of these transactions using the sum() function.

In [12]:
# Your code here

**Exercise 3: Create and Access a Dictionary of Balances**

Create a dictionary called balances where the keys are account numbers (as strings) and the values are the corresponding account balances. Then, retrieve and print the balance for a specific account number.

In [13]:
# Your code here

**Exercise 4: Work with a Set of Customer IDs**

Create a set called customer_ids that contains unique customer IDs. Add a new customer ID to the set, and then print the updated set. Ensure that duplicate IDs are not added.

In [14]:
# Your code here

**Exercise 5: Create a Tuple for a Bank Branch Location**

Create a tuple called branch_location that contains the latitude and longitude of a bank branch. Then, print this location.

In [ ]:
# Your code here