# Introduction to Pandas

## 1. Overview

**What is Pandas?**

- Pandas is a powerful Python library used for data manipulation and analysis.
- It provides two main data structures: Series (1D) and DataFrame (2D), which are ideal for working with structured data, similar to Excel spreadsheets or SQL tables.
- Pandas is widely used in finance for tasks like:
    - Managing time-series data (e.g., stock prices).
    - Importing, cleaning, and analyzing large datasets (e.g., financial statements, market data).
    - Performing exploratory data analysis (EDA).

**Why pandas for Finance?**

- Data Handling: In finance, you often work with large, structured datasets that require cleaning, manipulation, and analysis.
- Efficiency: Pandas can handle millions of rows of financial data efficiently.
- Integration with Data Science: pandas works seamlessly with other libraries like NumPy and matplotlib for numerical operations and visualization, essential for financial modeling.

## 2. The DataFrame Class

At the core of Pandas is the `DataFrame`, a class designed to efficiently handle data in tabular form —i.e., data characterized by a columnar organization. To this end, the DataFrame class provides, for instance, column labeling as well as flexible indexing capabilities for the rows (records) of the data set, similar to a table in a relational database or an Excel spreadsheet.

### First steps

On a fundamental level, the DataFrame class is designed to manage **indexed** and **labeled** data, not too different from a SQL database table or a worksheet in a spread‐ sheet application.

In [1]:
import pandas as pd

df = pd.DataFrame([10, 20, 30], 
                 columns = ['numbers'],
                 index = ['a', 'b', 'c'])

df

   numbers
a       10
b       20
c       30

In [2]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [3]:
df.columns

Index(['numbers'], dtype='object')

In [4]:
df.loc['c']

numbers    30
Name: c, dtype: int64

In [5]:
df.loc[['a', 'b']]

   numbers
a       10
b       20

In [6]:
df.iloc[1:3]

   numbers
b       20
c       30


## 3. Basic Analytics

## 4. The Series Class

## 5. GroupBy Operations

## 6. Complex Selection

## 7. Concatenation, Join, Merge