# Lecture 09 - Input and Output (I/O) Operations

## 1. Overview

**Input and output operations** (I/O) are essential in programming. 

They allow programs to 
- **Interact** live with users
- Take data as **input**
- Display or save the results as **output**

This notebook covers
- How to take input from users
- How to display output using the `print()` function
- File I/O operations: reading from and writing to files
- Handling CSV files with basic file operations
- Working with CSV files using `pandas`

## 2. Live inputs

### 2.1 The `input()` function

The `input()` function allows the user to provide input to the program by returning the input as a `string`.

In [1]:
# Example: Asking for user input
name = input("What is your name? ")
print("Hello, " + name + "!")

What is your name? Tarik
Hello, Tarik!

### 2.2 Casting inputs

Results from `input()` can be casted from `string` to other data types (`int`, `float`, etc.).

In [3]:
# Example: Taking a number as input
age = int(input("How old are you? "))  # Convert input to an integer
print("You are", age, "years old.")
print ("You were born in ", 2024 - age)

How old are you? 36
You are 36 years old.
You were born in  1988

In [4]:
# Example: Taking a float as input
balance = float(input("Enter your account balance: "))
print("Your balance is $", balance)

Enter your account balance: 12
Your balance is $ 12.0

### 2.3 Multiple inputs

When multiple inputs are entered, they are returned in one line. They can be then split into separate items using `split()`.

In [5]:
# Example: Taking multiple inputs
first_name, last_name = input("Enter your first and last name: ").split()
print("Hello, " + first_name + " " + last_name)

Enter your first and last name: Tarik Ro9ukny
Hello, Tarik Ro9ukny

## 3. Live output

### 3.1 The `print()` function

The `print()` function displays outputs in the prompt terminal.

In [6]:
# Example: Basic output using print()
print("Hello, world!")

Hello, world!

### 3.2 Printing variables and expressions

The `print()` handles variables and expressions.

In [7]:
# Example: Printing variables
name = "Alice"
age = 25
print("Name:", name, "Age:", age)

Name: Alice Age: 25

#### String formatting

`Python` provides several ways to format outputs as a combination of strings and variables.

- **Using commas:**

        print("string", variable, "string", etc.)

In [8]:
# Example: Using commas
print("Your balance is", balance, "dollars.")

Your balance is 123.0 dollars.

- **Using f-strings (available in Python 3.6+):**

        print (f"string {variable}")

In [ ]:
# Example: Using f-strings
print(f"Hello, {name}. You are {age} years old.")

- **Using the `format()` method:**

        print ("string {}, {}".format(variable1, variable2))

In [ ]:
# Example: Using format()
print("Hello, {}. You are {} years old.".format(name, age))

## ðŸš¦Checkpoint - live prompts [TODO]

## 4. File input and output (File I/O)

Programs can **read from** files and **write to** files.

### 4.1 Opening files

Before reading from or writing to a file, a file object need to be created. The `open()` function opens files and create access in `Python`.

```python
    open (name, mode)
```
- The name (or path) of the file
- The access mode (e.g., `'r'` for reading, `'w'` for writing, `'a'` for appending)

In [26]:
file_path = "Data/09/"
file_name = "example.txt"
file = open(file_path + file_name, "r")  # Open the file in read mode

### 4.2 Reading from

Several methods exist for reading file contents, such as `.read()`, `.readline()`, and `.readlines()`.

Having read (imported) the data from the file, the function `.close()` closes the access to the file.

- **`read()`**: Reads the entire file.

In [22]:
content = file.read()  # Read the entire file
print(content)
file.close()  # Close the file after reading

This is a first and simple text.
This is the second line of the file.
This is the third line.
This is the end of the file.

In [23]:
content

'This is a first and simple text.\nThis is the second line of the file.\nThis is the third line.\nThis is the end of the file.'

- **`readline()`**: Reads one line at a time.

In [31]:
file = open(file_path + file_name, "r")
line = file.readline()
while line:
    print(line.strip())  # Remove newline characters
    line = file.readline()
file.close()

This is a first and simple text.
This is the second line of the file.
This is the third line.
This is the end of the file.

- **`readlines()`**: Reads all lines and returns them as a list.

In [33]:
file = open(file_path + file_name, "r")
lines = file.readlines()
for line in lines:
    print(line.strip())
file.close()

This is a first and simple text.
This is the second line of the file.
This is the third line.
This is the end of the file.

### 4.3 `with` for file handling

To avoid misusing file access, the `with` statement handles files more efficiently by automatically closing the file after the block of code is executed.

```python
    with expression as variable:
        # Code block that uses the resource (e.g., a file or connection)
```

In [34]:
# Example: Using 'with' to handle files
with open(file_path + file_name, "r") as file:
    content = file.read()
    print(content)
# No need to explicitly close the file; it is done automatically

This is a first and simple text.
This is the second line of the file.
This is the third line.
This is the end of the file.

### 4.4 Writing to

Writing data to a file is done using the `write()` or `writelines()` methods. When opening a file in `'w'` (write) mode, it will overwrite the existing content. The `'a'` (append) mode writes at the end of the file.

- **Write mode `m`:**

In [36]:
# Example: Writing to a file
file_name = "new_file.txt"
with open(file_path + file_name, "w") as file: # Open file in write mode
    file.write("This is the first line.\n")
    file.write("This is the second line.\n")

In [39]:
# checking
with open(file_path + file_name, "r") as file: # Open file in write mode
    print(file.read())

This is the first line.
This is the second line.
This is the first line.
This is the second line.
This is the first line.
This is the second line.
This is an additional line.

- **Append mode `a`:**

In [40]:
# Example: Writing to a file
file_name = "new_file.txt"
with open(file_path + file_name, "a") as file: # Open file in write mode
    file.write("This is the first line.\n")
    file.write("This is the second line.\n")
    file.write("This is an additional line.\n")

In [41]:
# checking
with open(file_path + file_name, "r") as file: # Open file in write mode
    print(file.read())

This is the first line.
This is the second line.
This is the first line.
This is the second line.
This is the first line.
This is the second line.
This is an additional line.
This is the first line.
This is the second line.
This is an additional line.

## ðŸš¦Checkpoint - file i/o [TODO]

## 5. `.csv` files

`CSV` (Comma-Separated Values) files are the standard for **storing tabular data**. Each line is a row where cells are separated by `,`. The firt line contains the name of columns.

**Example**: `"csv_example.csv"`

```
    Name,Age,Balance
    Alice,30,1000.50
    Bob,25,1500.75
    Charlie,35,2000.25
    Diana,28,1800.60
    Eve,22,1200.00
```

### 5.1 with `Python`

Handling `.csv` files from `Python` can be done using the `csv` module.

In [42]:
import csv

#### Reading from

Reading a `csv` file is done using the `csv.reader()` method.

In [43]:
import csv
# Example: Reading a CSV file
csv_file_name = 'csv_example.csv'
with open(file_path + csv_file_name, 'r') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        print(row)

['Name', 'Age', 'Balance']
['Alice', '30', '1000.50']
['Bob', '25', '1500.75']
['Charlie', '35', '2000.25']
['Diana', '28', '1800.60']
['Eve', '22', '1200.00']

`csv` files can also be directly read as `dict` objects using the `csv.DictRead()` method.

In [45]:
# Example: Reading a CSV file with headers
with open(file_path + csv_file_name, 'r') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        print(f"{row['Name']} is {row['Age']} years old.")

Alice is 30 years old.
Bob is 25 years old.
Charlie is 35 years old.
Diana is 28 years old.
Eve is 22 years old.

#### Writing to

Writing data to a `csv` file is done by 
- Creating a `csv.writer()` object with the output file.
- Inserting rows with `.writerow()`

In [48]:
# Example: Writing to a CSV file
csv_output_file_name = 'csv_output_example.csv'
with open(file_path + csv_output_file_name, 'w', newline='') as file:
    csv_writer = csv.writer(file)
    csv_writer.writerow(['Name', 'Age', 'Balance'])
    csv_writer.writerow(['Alice', '30', '1000.50'])
    csv_writer.writerow(['Bob', '25', '1500.75'])

In [50]:
csv_output_file_name = 'csv_output_example.csv'
with open(file_path + csv_output_file_name, 'a', newline='') as file:
    csv_writer = csv.writer(file)
    csv_writer.writerow(['Name', 'Age', 'Balance'])
    csv_writer.writerow(['Charlie', '35', '2000.25'])
    csv_writer.writerow(['Eve', '22', '1200.00'])

In [52]:
with open(file_path + csv_output_file_name, 'r') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        print(f"{row['Name']} is {row['Age']} years old.")

Alice is 30 years old.
Bob is 25 years old.
Name is Age years old.
Alice is 30 years old.
Bob is 25 years old.
Name is Age years old.
Charlie is 35 years old.
Eve is 22 years old.

### 5.2 with `pandas`

`Pandas` simplifies reading, writing, and analyzing data, especially with `csv` files.

In [53]:
import pandas as pd

#### Reading from

Reading a `csv` file is done using the `pd.read_csv()` method.

```python
    pd.read_csv(...)
```
Check method documentation (huge!).

Key parameters:
- `filepath_or_buffer`: The path to the file you want to read.
- `delimiter or sep`: The character that separates values (default is a comma).
- `header`: Row number to use as the column names.
- `names`: A list of column names to use.
- `index_col`: Column(s) to set as index.
- `skiprows`: Number of rows to skip at the start of the file.

In [55]:
csv_file_name = 'csv_example.csv'
df = pd.read_csv(file_path + csv_file_name)
df

      Name  Age  Balance
0    Alice   30  1000.50
1      Bob   25  1500.75
2  Charlie   35  2000.25
3    Diana   28  1800.60
4      Eve   22  1200.00

**Example with Parameters**

In [58]:
# Customizing CSV reading
df = pd.read_csv(file_path + csv_file_name, delimiter=",", header=0, index_col="Name")
df.head()

         Age  Balance
Name
Alice     30  1000.50
Bob       25  1500.75
Charlie   35  2000.25
Diana     28  1800.60
Eve       22  1200.00

#### Writing to

Saving a `DataFrame` to a `csv` file is done using the `pd.to_csv()` method.

In [56]:
# Example: Writing DataFrame to a CSV file
df_file_name = 'df_output_example.csv'
df.to_csv(file_path + df_file_name, index=False)  # `index=False` to exclude row indices

## ðŸš¦Checkpoint - csv [TODO]

## 6. Excel files

Excel files are commonly used for data storage and transfer. `Pandas` makes it easy to write and read these files.

### 6.1 Writing to

`Pandas` writes `DataFrames` to Excel files using the `to_excel()` method.

```python
    pd.to_excel(...)
```
Check method documentation (huge!).

Key parameters:
- `excel_writer`: This is the path to the Excel file ("output.xlsx") or an `ExcelWriter` object if saving multiple sheets to a single file.
- `sheet_name`: The name of the sheet where the `DataFrame` will be saved. Default is "Sheet1".
- `na_rep`: Defines how missing values (`NaN`) should appear in the Excel file (e.g., na_rep="N/A").
- `columns`: List of column names to write; writes all columns by default.
- `header`: If `True`, includes column headers; set to `False` to exclude.
- `index`: If `True`, includes the `DataFrame`â€™s index; if `False`, omits it.
- `startrow` and `startcol`: Define the starting cell (row and column) for writing data.

#### Basic Example of Writing to Excel

**Note:** The `to_excel()` method requires the `openpyxl` library for `.xlsx` files (install with pip install openpyxl if necessary).

In [59]:
import pandas as pd

# Sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Balance": [1000.50, 1500.75, 1200.30]
}
df = pd.DataFrame(data)

# Writing the DataFrame to an Excel file
excel_output_name = "excel_output_example.xlsx"
df.to_excel(file_path + excel_output_name, index=False)  # `index=False` excludes row indices

#### Writing Multiple Sheets to an Excel File

The `ExcelWriter` class allows to save multiple DataFrames to different sheets within the same Excel file.

In [60]:
# Create additional sample DataFrames
data2 = {
    "Product": ["Widget A", "Widget B", "Widget C"],
    "Price": [20.5, 45.3, 30.0]
}
df2 = pd.DataFrame(data2)

with pd.ExcelWriter(file_path + excel_output_name) as writer:
    df.to_excel(writer, sheet_name="Customer Data", index=False)
    df2.to_excel(writer, sheet_name="Product Data", index=False)

#### Specifying Columns and Formatting

Customizing which columns to write and add formatting options like `headers` are also possible.

In [61]:
# Writing selected columns only
excel_output_2_name = "excel_output_selected_columns.xlsx"
df.to_excel(file_path + excel_output_2_name, columns=["Name", "Balance"], index=False, header=True)

### 6.1 Reading an Excel File

Reading a `xlsx` file is done using the `pd.read_excel()` method.

```python
    pd.read_excel()
```

Check method documentation (huge!)
- `sheet_name`: Name or index of the sheet to read.
- `header`, `names`, `index_col`: Similar to read_csv().
- `usecols`: Specifies columns to load.

In [72]:
# Reading an Excel file
df = pd.read_excel(file_path + excel_output_name, sheet_name="Customer Data")
df.head()

    Product  Price
0  Widget A   20.5
1  Widget B   45.3
2  Widget C   30.0

**Example: Reading a Specific Sheet with Column Selection**

In [73]:
# Reading specific columns from an Excel sheet
df = pd.read_excel(file_path + excel_output_name, sheet_name="Product Data", usecols=['Product'])
df.head()

    Product
0  Widget A
1  Widget B
2  Widget C

---