# Lecture 09 - Input and Output (I/O) Operations

## 1. Overview

**Input and output operations** (I/O) are essential in programming. 

They allow programs to 
- **Interact** live with users
- Take data as **input**
- Display or save the results as **output**

This notebook covers
- How to take input from users
- How to display output using the `print()` function
- File I/O operations: reading from and writing to files
- Handling CSV files with basic file operations
- Working with CSV/Excel files using `pandas`

## 2. Live inputs

### 2.1 The `input()` function

The `input()` function allows the user to provide input to the program while running by returning the input as a `string`.

In [1]:
# Example: Asking for user input
name = input("What is your name? ")
print("Hello, " + name + "!")

What is your name? Tarik
Hello, Tarik!

### 2.2 Casting inputs

Results from `input()` can be casted from `string` to other data types (`int`, `float`, etc.).

In [2]:
# Example: Taking a number as input
age = int(input("How old are you? "))  # Convert input to an integer
print("You are", age, "years old.")
print ("You were born in ", 2024 - age)

How old are you? 35
You are 35 years old.
You were born in  1989

In [3]:
# Example: Taking a float as input
balance = float(input("Enter your account balance: "))
print("Your balance is $", balance)

Enter your account balance: 70
Your balance is $ 70.0

### 2.3 Multiple inputs

When multiple inputs are entered, they are returned in one line. They can be then separated into separate items using `split()`.

In [4]:
string = "hello my name is tarik"

In [5]:
string.split()

['hello', 'my', 'name', 'is', 'tarik']

In [6]:
# Example: Taking multiple inputs
first_name, last_name = input("Enter your first and last name: ").split()
print("Hello, " + first_name + " " + last_name)

Enter your first and last name: Tarik Roukny
Hello, Tarik Roukny

## 3. Live output

### 3.1 The `print()` function

The `print()` function displays outputs in the prompt terminal.

In [7]:
# Example: Basic output using print()
print("Hello, world!")

Hello, world!

### 3.2 Printing variables and expressions

The `print()` handles variables and expressions.

In [8]:
# Example: Printing variables
name = "Alice"
age = 25
print("Name:", name, "Age:", age)

Name: Alice Age: 25

#### String formatting

`Python` provides several ways to format outputs as a combination of strings and variables.

- **Using commas:**

        print("string", variable, "string", etc.)

In [9]:
# Example: Using commas
print("Your balance is", balance, "dollars.")

Your balance is 70.0 dollars.

- **Using f-strings (available in Python 3.6+):**

        print (f"string {variable}")

In [10]:
# Example: Using f-strings
print(f"Hello, {name}. You are {age} years old.")

Hello, Alice. You are 25 years old.

- **Using the `format()` method:**

        print ("string {}, {}".format(variable1, variable2))

In [11]:
# Example: Using format()
print("Hello, {}. You are {} years old.".format(name, age))

Hello, Alice. You are 25 years old.

## 4. File input and output (File I/O)

Programs can **read from** files and **write to** files.

### 4.1 Opening files

Before reading from or writing to a file, a file object must be created. The `open()` function opens files and creates access in `Python`.

```python
    open (name, mode)
```
- The name (or path) of the file
- The access mode (e.g., `'r'` for reading, `'w'` for writing, `'a'` for appending)

**Note:** opened files must then be closed with `.close()` to clear the access.

In [13]:
file_path = "Data/09/"
file_name = "example.txt"
file = open(file_path + file_name, "r")  # Open the file in read mode

### 4.2 Reading from

Several methods exist for reading file contents, such as `.read()`, `.readline()`, and `.readlines()`.

- **`read()`**: Reads the entire file.

In [14]:
content = file.read()  # Read the entire file
print(content)
file.close()  # Close the file after reading

This is a first and simple text.
This is the second line of the file.
This is the third line.
This is the end of the file.

In [15]:
content

'This is a first and simple text.\nThis is the second line of the file.\nThis is the third line.\nThis is the end of the file.'

- **`readline()`**: Reads one line at a time.

In [16]:
file = open(file_path + file_name, "r")
line = file.readline()
while line:
    print(line.strip())  # Remove newline characters
    line = file.readline()
file.close()

This is a first and simple text.
This is the second line of the file.
This is the third line.
This is the end of the file.

- **`readlines()`**: Reads all lines and returns them as a list.

In [18]:
lines

['This is a first and simple text.\n',
 'This is the second line of the file.\n',
 'This is the third line.\n',
 'This is the end of the file.']

In [17]:
file = open(file_path + file_name, "r")
lines = file.readlines()
for line in lines:
    print(line.strip())
file.close()

This is a first and simple text.
This is the second line of the file.
This is the third line.
This is the end of the file.

### 4.3 `with` for file handling

To avoid misusing file access (opening and closing), the `with` statement handles files more efficiently by automatically closing the file after the block of code is executed.

```python
    with expression as variable:
        # Code block that uses the resource (e.g., a file or connection)
```

In [ ]:
# Example: Using 'with' to handle files
with open(file_path + file_name, "r") as file:
    content = file.read()
    print(content)
# No need to explicitly close the file; it is done automatically

### 4.4 Writing to

Writing data to a file is done using the `write()` or `writelines()` methods. 
- The `'w'` (write) mode overwrites the existing content. 
- The `'a'` (append) mode writes at the end of the file.

- **Write mode `m`:**

In [21]:
# Example: Writing to a file
file_name = "new_file.txt"
with open(file_path + file_name, "w") as file: # Open file in write mode
    file.write("Student Cleiton.\n")
    file.write("Hopefully understands this.\n")

In [22]:
# checking
with open(file_path + file_name, "r") as file: # Open file in write mode
    print(file.read())

Student Cleiton.
Hopefully understands this.

- **Append mode `a`:**

In [25]:
# Example: Writing to a file
file_name = "new_file.txt"
with open(file_path + file_name, "w") as file: # Open file in write mode
    file.write("This is the first line.\n")
    file.write("This is the second line.\n")
    file.write("This is an additional line.\n")

In [26]:
# checking
with open(file_path + file_name, "r") as file: # Open file in write mode
    print(file.read())

This is the first line.
This is the second line.
This is an additional line.

## 5. `.csv` files

`CSV` (Comma-Separated Values) files are the standard storing format for **tabular data**. 
- The firt line contains the name of columns.
- Each line is a row where cells are separated by `,`. 

**Example**: `"csv_example.csv"`

```
    Name,Age,Balance
    Alice,30,1000.50
    Bob,25,1500.75
    Charlie,35,2000.25
    Diana,28,1800.60
    Eve,22,1200.00
```

### 5.1 with `Python`

Handling `.csv` files from `Python` can be done using the `csv` module.

In [27]:
import csv

#### Reading from

Reading a `csv` file is done using the `csv.reader()` method.

In [29]:
csv_reader

In [28]:
import csv
# Example: Reading a CSV file
csv_file_name = 'csv_example.csv'
with open(file_path + csv_file_name, 'r') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        print(row)

['Name', 'Age', 'Balance']
['Alice', '30', '1000.50']
['Bob', '25', '1500.75']
['Charlie', '35', '2000.25']
['Diana', '28', '1800.60']
['Eve', '22', '1200.00']

`csv` files can also be directly read as `dict` objects using the `csv.DictRead()` method.

In [30]:
# Example: Reading a CSV file with headers
with open(file_path + csv_file_name, 'r') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        print(f"{row['Name']} is {row['Age']} years old.")

Alice is 30 years old.
Bob is 25 years old.
Charlie is 35 years old.
Diana is 28 years old.
Eve is 22 years old.

#### Writing to

Writing data to a `csv` file is done by 
1. Creating a `csv.writer()` object with the output file.
2. Inserting rows with `.writerow()`

- `w` mode

In [ ]:
# Example: Writing to a CSV file
csv_output_file_name = 'csv_output_example.csv'
with open(file_path + csv_output_file_name, 'w', newline='') as file:
    csv_writer = csv.writer(file)
    csv_writer.writerow(['Name', 'Age', 'Balance'])
    csv_writer.writerow(['Alice', '30', '1000.50'])
    csv_writer.writerow(['Bob', '25', '1500.75'])

- `a` mode

In [ ]:
csv_output_file_name = 'csv_output_example.csv'
with open(file_path + csv_output_file_name, 'a', newline='') as file:
    csv_writer = csv.writer(file)
    csv_writer.writerow(['Name', 'Age', 'Balance'])
    csv_writer.writerow(['Charlie', '35', '2000.25'])
    csv_writer.writerow(['Eve', '22', '1200.00'])

In [ ]:
with open(file_path + csv_output_file_name, 'r') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        print(f"{row['Name']} is {row['Age']} years old.")

### 5.2 with `pandas`

`Pandas` simplifies reading, writing, and analyzing data, especially with `csv` files.

In [31]:
import pandas as pd

/Users/tarikrouknyornia/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/tarikrouknyornia/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

#### Reading from

Reading a `csv` file is done using the `pd.read_csv()` method.

```python
    pd.read_csv(...)
```
Check method documentation (huge!).

Key parameters:
- `filepath_or_buffer`: The path to the file you want to read.
- `delimiter` or `sep`: The character that separates values (default is a comma).
- `header`: Row number to use as the column names.
- `names`: A list of column names to use.
- `index_col`: Column(s) to set as index.
- `skiprows`: Number of rows to skip at the start of the file.

In [32]:
csv_file_name = 'csv_example.csv'
df = pd.read_csv(file_path + csv_file_name)
df

      Name  Age  Balance
0    Alice   30  1000.50
1      Bob   25  1500.75
2  Charlie   35  2000.25
3    Diana   28  1800.60
4      Eve   22  1200.00

**Example with Parameters**

In [33]:
# Customizing CSV reading
df = pd.read_csv(file_path + csv_file_name, delimiter=",", header=0, index_col="Name")
df.head()

         Age  Balance
Name
Alice     30  1000.50
Bob       25  1500.75
Charlie   35  2000.25
Diana     28  1800.60
Eve       22  1200.00

#### Writing to

Saving a `DataFrame` to a `csv` file is done using the `df.to_csv()` method.

In [34]:
# Example: Writing DataFrame to a CSV file
df_file_name = 'df_output_example.csv'
df.to_csv(file_path + df_file_name, index=False)  # `index=False` to exclude row indices

## 6. Excel files

**Excel files** are commonly used for data storage and transfer. `Pandas` makes it easy to write and read these files.

### 6.1 Writing to

`Pandas` writes `DataFrames` to Excel files using the `to_excel()` method.

```python
    pd.to_excel(...)
```
Check method documentation (huge!).

Key parameters:
- `excel_writer`: This is the path to the Excel file ("output.xlsx") or an `ExcelWriter` object if saving multiple sheets to a single file.
- `sheet_name`: The name of the sheet where the `DataFrame` will be saved. Default is "Sheet1".
- `na_rep`: Defines how missing values (`NaN`) should appear in the Excel file (e.g., na_rep="N/A").
- `columns`: List of column names to write; writes all columns by default.
- `header`: If `True`, includes column headers; set to `False` to exclude.
- `index`: If `True`, includes the `DataFrame`’s index; if `False`, omits it.
- `startrow` and `startcol`: Define the starting cell (row and column) for writing data.

#### Basic example of writing to Excel

**Note:** The `to_excel()` method requires the `openpyxl` library for `.xlsx` files (install with pip install openpyxl if necessary).

In [35]:
import pandas as pd

# Sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Balance": [1000.50, 1500.75, 1200.30]
}
df = pd.DataFrame(data)

# Writing the DataFrame to an Excel file
excel_output_name = "excel_output_example.xlsx"
df.to_excel(file_path + excel_output_name, index=False)  # `index=False` excludes row indices

/var/folders/9m/57jm238n7yvg6p3srhy10dhw0000gn/T/ipykernel_7573/3618820734.py:13: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df.to_excel(file_path + excel_output_name, index=False)  # `index=False` excludes row indices

#### Writing multiple sheets to an Excel File

The `ExcelWriter` class allows to save multiple DataFrames to different sheets within the same Excel file.

In [36]:
# Create additional sample DataFrames
data2 = {
    "Product": ["Widget A", "Widget B", "Widget C"],
    "Price": [20.5, 45.3, 30.0]
}
df2 = pd.DataFrame(data2)

with pd.ExcelWriter(file_path + excel_output_name) as writer:
    df.to_excel(writer, sheet_name="Customer Data", index=False)
    df2.to_excel(writer, sheet_name="Product Data", index=False)

/var/folders/9m/57jm238n7yvg6p3srhy10dhw0000gn/T/ipykernel_7573/364171437.py:8: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  with pd.ExcelWriter(file_path + excel_output_name) as writer:

#### Specifying columns and formatting

Customizing which columns to write and add formatting options like `headers` are also possible.

In [ ]:
# Writing selected columns only
excel_output_2_name = "excel_output_selected_columns.xlsx"
df.to_excel(file_path + excel_output_2_name, columns=["Name", "Balance"], index=False, header=True)

### 6.2 Reading from an Excel file

Reading a `xlsx` file is done using the `pd.read_excel()` method.

```python
    pd.read_excel()
```

Check method documentation (huge!)
- `sheet_name`: Name or index of the sheet to read.
- `header`, `names`, `index_col`: Similar to read_csv().
- `usecols`: Specifies columns to load.

In [37]:
# Reading an Excel file
df = pd.read_excel(file_path + excel_output_name, sheet_name="Customer Data")
df.head()

ImportError: Pandas requires version '3.1.0' or newer of 'openpyxl' (version '3.0.9' currently installed).

**Example: Reading a specific sheet with column selection**

In [38]:
# Reading specific columns from an Excel sheet
df = pd.read_excel(file_path + excel_output_name, sheet_name="Product Data", usecols=['Product'])
df.head()

ImportError: Pandas requires version '3.1.0' or newer of 'openpyxl' (version '3.0.9' currently installed).

## 🚦Checkpoint

### Reading, Manipulating, and Saving Data with `pandas`

**Goal:** In this exercise, you'll read the CSV file, manipulate the data using `pandas`, and save the modified data back to a CSV file.

```python
    file_name = "checkpoint_stock_data_large.csv"
```

- Import data and inspect in `DataFrame`
- **Task 1:** Filter out all rows where the stock price is greater than USD 2000.
- **Task 2:** Add a new column called `Value` which is calculated as `Price * Volume`.
- **Task 3:** Group the data by the `Stock` column and calculate the average price for each stock.
- Save the manipulated DataFrame to a new CSV file.

In [40]:
df.head()

  Stock        Price  Volume
0  TSLA  2199.737274   45149
1  META  2753.174671    5602
2  AAPL  2049.712705   99497
3  AMZN   620.443155   54160
4  AMZN  1318.229794   90032

In [42]:
df.nunique()

Stock         6
Price     10000
Volume     9521
dtype: int64

In [41]:
df.describe()

              Price        Volume
count  10000.000000  10000.000000
mean    1538.226869  50909.136300
std      832.300907  28529.285528
min      100.011634   1007.000000
25%      818.584255  25970.250000
50%     1533.136254  51040.500000
75%     2252.630194  75713.250000
max     2999.915744  99992.000000

In [43]:
df = df[df['Price']<=2000]

In [44]:
df.head()

  Stock        Price  Volume
3  AMZN   620.443155   54160
4  AMZN  1318.229794   90032
5  AMZN   892.336241   28612
6  MSFT   295.571932   90380
8  META  1096.238389   80329

In [49]:
df['Value'] = df['Price']*df['Volume']

In [50]:
df.head()

  Stock        Price  Volume         Value
0  TSLA  2199.737274   45149  9.931594e+07
1  META  2753.174671    5602  1.542328e+07
2  AAPL  2049.712705   99497  2.039403e+08
3  AMZN   620.443155   54160  3.360320e+07
4  AMZN  1318.229794   90032  1.186829e+08

In [51]:
avg_stock = df.groupby('Stock')['Price'].mean()

In [52]:
avg_stock

Stock
AAPL     1536.266259
AMZN     1577.560543
GOOGL    1495.717279
META     1531.635889
MSFT     1508.892144
TSLA     1578.032684
Name: Price, dtype: float64

In [48]:
file_name = "checkpoint_stock_data_large.csv"
df = pd.read_csv(file_path+file_name)

In [53]:
df.to_csv(file_path + "new_csv.csv", index = False)